.hidden {
    display: none;
    visibility: hidden;
}

#page {
    width: 70%;
    border: 1px solid black;
    padding: 20px;
    margin: auto;
}

#status {
    width: 100%;
    text-align: center;
}

#page input {
    width: 100%;
}

#page img {
    width: 100%;
}